body{
    background-color: #ffc600;
}
.container{
    background-color: white;
    margin: auto;
    max-width: 400px;
    display: block;
    border-radius: 20px;
    ox-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.check-box{
    position: relative;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    
}
p{
    font-size: 19px;
    border-left: 1px solid #D1E2FF;
    padding: 20px;
    margin: 0px;
    flex: 1;
}
input{
    margin: 20px;

}
/*this tells if the input if was checked */
input:checked + p {
    background:#F9F9F9;
    text-decoration: line-through;
  }
